<page-header class="bg-blue-800"></page-header>


<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Creación Url Corta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<form class="m-x--4">
  <mat-form-field class="m-x-10" appearance="outline" [style.width.%]="70">
    Ingrese Url Larga<input matInput [(ngModel)]="dataUrl.urlLong" name="urlLong" placeholder="Url Larga">
  </mat-form-field>
  <button class="m-x-2" mat-raised-button color="primary" (click)="createUrlLong()">Crear</button>
 </form>
 </mat-card-content>
 <mat-card>
<br>
<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>Url Corta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<form class="m-x--4">
  <mat-form-field class="m-x-10" appearance="outline" [style.width.%]="70">
    Url Corta<input matInput [(ngModel)]="dataUrl.urlShort" name="urlShort"  disabled readonly>
  </mat-form-field>

    <a mat-raised-button color="primary" [href]="dataUrl.urlShort" target="_blank">
      Abrir</a>


  <button class="m-x-2" mat-raised-button color="primary" [cdkCopyToClipboard]="dataUrl.urlShort">Copiar</button>
 </form>

 </mat-card-content>
 <mat-card>
