<page-header class="bg-blue-800"></page-header>

<form class="m-x--4">
  <mat-form-field class="m-x-4" appearance="outline">
    <input matInput [(ngModel)]="query.keySearch" name="q" placeholder="Url Corta búsqueda">
  </mat-form-field>
 <button class="m-x-4" mat-raised-button color="primary" (click)="search()">Search</button>
  <button class="m-x-4" mat-raised-button color="warn" (click)="reset()">Reset</button>
</form>
<br>
<br>

<mtx-grid [data]="list"
          [columns]="columns"
          [pageDisabled] = true
          [loading]="isLoading"
          [pageOnFront]="false"
          [hidePageSize]="false">
</mtx-grid>

<br>
<form class="m-x--4">


  <mat-list class="d-flex">
    <mat-list-item>
      Registros por página
      <mat-form-field class="m-x-6" appearance="outline" [style.width.px]="100" >
       <input type="number" matInput [(ngModel)]="query.limit" name="q" placeholder="Cantidad Registros" >

      </mat-form-field>
      <button class="m-x-4" mat-raised-button color="primary" (click)="reset()">Buscar</button>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item>
      <button class="m-x-4" mat-raised-button color="primary" (click)="previousPage()">Anterior</button>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-list-item>
      <button class="m-x-4" mat-raised-button color="warn" (click)="nextPage()">Siguiente</button>
    </mat-list-item>
  </mat-list>

</form>
